@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="basic-form-layouts">
    <div class="row match-height">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-form">Project Info</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <div class="card-text">
                            <p>
                                Merhaba, 
                            Tarafıma iletilen Case çalışmasını istenilen şartlar doğrultusunda kodlamaya çalıştım. Herhangi bir mimari belirtilmediği için
                        Onion Architecture mimarisini kullandım. 
                             
                             İyi çalışmalar Ramazan CANBABA
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

    </section>